@import url("root.css");

.chat {
  list-style-type: none;
  padding: 0em;
}

.chat-body {
  border-bottom: 1px solid var(--var-secon-text);
  margin-bottom: 0.5em;
}

.chat-body {
  margin-right: 0.5em;
}

#clientManagerMessages {
  width: 90%;
}