@import url("root.css");

.breadcrumb-item + .breadcrumb-item::before {
    color: #ccc;
    content: "> ";
}

.card-body{
    height: 75%;
}

.checkoutTextTop{
    display: inline-block;
    overflow-wrap: break-word;
    margin-bottom: 2%;
    margin-left: 11%;
}

#wishListsTabs{
    margin-top: 2em;
    margin-left: 4em;
}


#list-example{
    width:  auto;
    height: auto;
}

#listItems{
    width: 75%;
    overflow: auto;
    height: 30em;
    margin: auto;
    
}



 .next_button{
    text-align: center;
    display: inline-block;

    width: auto;
    border-color: var(--var-gray-mid);
    background-color: var(--var-gray);
    border-color: var(--var-gray-dark);
    color: var(--var-text);
    margin-left:1rem;
    border-width: 2px;
    outline:none;
}

.next_button:hover{
    text-align: center;
    display: inline-block;
    border-width: 2px;
    width: auto;
    margin-left:1rem;
    border-color: var(--var-gray-dark);
    border-color: var(--var-gray-mid);
    background-color: var(--var-fourth-color);
    color: var(--var-gray);
   
    outline:none;
}

#mainContainer{
    margin-left:4em;
    width:100%;
}



.product_card{
    min-height: min-content;
    border-width: 2px;
    border-color: var(--var-gray-dark);
    margin-bottom: 4px;
    margin-left: 2px;
    padding-bottom: 1.5vw;
}

.quantity{
    display: inline-block;
    width:auto;
}

.quantity_field{
    display: flex;
    flex-wrap: wrap;
}

.add_quantity{
    width: 5%;
    padding: 0;
    margin-left: .5rem;
    margin-bottom: .5rem;
    background-color: var(--var-gray);
    border-color: var(--var-gray-dark);
    min-width: 1.4em;
}

.add_quantity:hover{
    width: 5%;
    padding: 0;
    margin-left: .5rem;
    margin-bottom: .5rem;
    background-color: var(--var-gray-dark);
    color: var(--var-gray);
    min-width: 1.4em;
}



.product_img{
    width: 40%; 
    height: 75%;
    background-size: cover;
    margin-left:0.5em;
   margin-bottom:0.2rem;
}

.stars_field{
    display: inline-block;
    width: max-content;
}

label.full, label.half{
    display: inline-block;
    height: 2vw;
    margin-bottom: 0;
}

.product_name{
    font-size:1.5em;
    margin-left: 0.65em;
    margin-top: 0.3em;
   
}

.add_cart{
    background-image: url('../images/final_cart_add.png');
    background-color: transparent;
    background-size: 100%,100%;
    height: 2.5em;
    width: 2.5em;
    border: none;
    cursor: pointer;
    outline:none
}

.final_label{
    width:125px;
}


.add_cart2{
    background-image: url('../images/final_cart_add2.png');
    background-color: transparent;
    background-size: 100%,100%;
    height: 2.5em;
    width: 2.5em;
    border: none;
    cursor: pointer;
    outline:none
}


.shop_button{
    border-radius: 2em;
    display:block;
    border-radius: 50%;
    outline:none !important;
}


.rating {
    max-width: auto;
    min-height: 50px;
}

.starsRating {
    border: none;
}

.starsRating > input {
    display: none;
}
.starsRating > label:before {
    margin: 5px;
    font-size: 2vw;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f005";
}

.starsRating > .half:before {
    content: "\f089";
    position: absolute;
}

.half{
    display: none;
}


.starsRating > label {
    color: rgb(184, 180, 180);
    float: right;
}

.starsRating .marked{
    color: #ffed85;
}

.cancel_button{
    background-image: url('../images/cancel-icon.png');
    background-color: transparent;
    background-size: 100%,100%;
    height: 3vw;
    width: 3vw;
    border: none;
    cursor: pointer;
    outline:none;   
    border-radius: 2em;
    display:block;
    border-radius: 50%;
    outline:none !important;
}

.remove_product{
    outline:none !important;
    display:inline-block;
    border-radius: 0.25rem;
    border-width: 0.1rem;
    border-color: var(--var-fourth-color);
    background-color: white;
    color: var( --var-fourth-color);
}

.remove_product:hover{
    outline:none !important;
    display:inline-block;
    border-radius: 0.25rem;
    border-width: 0.1rem;
    border-color: black;
    background-color: red;
    color:white;

}

.price{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    font-size: auto;
    min-width: auto;
}

.final_price{
    width: 100%;

    background-color: var(--var-gray);
    color: black;
    margin:0;
    margin-left: 0.1em;
   
    border-width: 0.15rem;
    border-color: rgb(85, 85, 85);
    border-radius:0.25rem;

    text-align: left;
    display: inline-block;
}



.bottom_row{
   display: inline-block;
    width: auto;
    min-width: 25%;
    margin-left:12.5%;
    border: none;
}

.final_value{
    float: right;    
}

.checkoutListCards {
    width: 85%;
}

.checkoutCard {
    width: 22rem; 
    height: 16rem;
}

.price_row{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.price_col{
    padding: 0;
    display: inline-block;
    width:50%;
}

#footer{
    width:100%;
    min-height: auto;
}

.otherInfo {
    background-color: var(--var-gray-light);
}

.otherInfo:hover {
    background-color: var(--var-gray-ml);
    cursor: pointer;
}


.checkoutCard {
    margin:0.2em;
}

@media screen and (max-width: 1080px) {
    #listItems {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top:0;
    }
    .checkoutListCards {
        width: 85%;
    }
    .checkoutCard {
        width: 20rem;
    }
    
    .bottom_row{
        margin-left:0;
        
    }

    .final_price{
        display: inline-block;
        width: auto;
    }
 
    
}

@media screen and (max-width: 950px) {
    #listItems {
        width: 100%;
    }
    .checkoutListCards {
        width: 100%;
    }
    .checkoutCard {
        height: 18rem;
    }
   
}

@media screen and (max-width: 500px){
    .product_img{
        display: none;
    }
}


@media screen and (max-width: 434px){
    .next_button{
        margin-left: 0;
    }
    .next_button:hover{
        margin-left: 0;
    }
}


