@import url("root.css");

.breadcrumb-item + .breadcrumb-item::before {
    color: #ccc;
    content: "> ";
}


#wishListsTabs{
    margin-top: 2em;
    margin-left: 4em;
}

#list-example{
    width:  auto;
    height: auto;
}

#listItems{
    width: 75%;
    overflow: auto;
    height: 30em;
    margin: auto;
    
}

#mainContainer{
    margin-left:4em;
    width:100%;
}


.product_card_top{
    min-height: auto;
    
}

.product_card{
    min-height: min-content;
    /*margin-top: 2.5em;*/
}

.product_info{
    max-width: 50%;
}

.product_img{
    width: 40%; 
    height: 75%;
    background-size: cover;
    margin-left:0.5em;
   
}

.product_name{
    font-size:1.5em;
    margin-left: 0.65em;
    margin-top: 0.3em;
   
}

.add_cart{
    background-image: url('../images/final_cart_add.png');
    background-color: transparent;
    background-size: 100%,100%;
    height: 2.5em;
    width: 2.5em;
    border: none;
    cursor: pointer;
    outline:none
}


.add_cart2{
    background-image: url('../images/final_cart_add2.png');
    background-color: transparent;
    background-size: 100%,100%;
    height: 2.5em;
    width: 2.5em;
    border: none;
    cursor: pointer;
    outline:none
}


.shop_button{
    border-radius: 2em;
    display:block;
    border-radius: 50%;
    outline:none !important;
    
   
}


.rating {
    max-width: auto;
    min-height: 50px;
}

.starsRating {
    border: none;
    float: left;
}

.starsRating > input {
    display: none;
}
.starsRating > label:before {
    margin: 5px;
    font-size: 2vw;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f005";
}

.starsRating > .half:before {
    content: "\f089";
    position: absolute;
}

.half{
    display: none;
}


.starsRating > label {
    color: rgb(184, 180, 180);
    float: right;
}

.starsRating .marked{
    color: #ffed85;
}



#footer {
    background-color: grey;
}

#footer a {
    color: white;
}

.cancel_button{
    background-image: url('../images/cancel-icon.png');
    background-color: transparent;
    background-size: 100%,100%;
    height: 3vw;
    width: 3vw;
    border: none;
    cursor: pointer;
    outline:none;   
    border-radius: 2em;
    display:block;
    border-radius: 50%;
    outline:none !important;
}

.price{
    margin-top:0.5em;
    margin-bottom:0.5em;
    font-size: 2.5vw;
    min-width: auto;
}

.final_price{
    width: 100%;
    height: 75%;
    background-color: var(--var-gray);
    color: black;
    margin:0;
    margin-left: 0.1em;
    max-width: 90%;
    border-width: 0.2rem;
    border-color: rgb(85, 85, 85);
    border-radius: 2em;
}

.bottom_row{
    min-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.final_value{
    float: right;    
}

.back_button, .next_button{
    width:10%;
    min-width:auto;
    border-radius: 0.25rem;
    font-size:auto;
    margin-left: 3vw;
    outline:none !important;
    border-color: var(--var-gray-mid);
    background-color: var(--var-gray);
    color: var(--var-text);
    cursor: pointer;
    outline:none;
    max-height: 75%;
}

.back_button:hover, .next_button:hover{
    width:10%;
    min-width:auto;
    border-radius: 0.25rem;
    font-size:auto;
    margin-left: 3vw;
    outline:none !important;
    border-color: var(--var-gray-mid);
    background-color: var(--var-fourth-color);
    color: var(--var-gray);
    cursor: pointer;
    outline:none;
    max-height: 75%;
}

.next_button{
    padding-left: 1.5vw;
    padding-right: 1vw;
}

.back_button{
    padding-left: 2vw;
    padding-right: 2vw;
}