

#profile {
    width: 75%;
}

@media screen and (max-width: 1080px) {
    #profile {
        width: 100%;
      
    }
}

@media screen and (max-width: 950px) {
    #profile {
        width: 100%;
    }
}


.card-body .card.infoCard {
    border-style:none none solid none;
    border-radius: 0%;
}

.previousCart {
    background-color: var(--var-main-color);
}

#passwordBtns {
    margin-right: 1.7em;
}

#cardTableName{
    width:30%;
}

