body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: var(--var-text);
}

:root {
    --var-main-color: rgb(64, 163, 91);
    --var-secon-color: rgb(75, 191, 107);
    --var-thir-color: rgb(129, 210, 152);
    --var-fourth-color: rgb(52, 133, 75);
    --var-gray: rgb(223, 227, 230);
    --var-text: rgb(23, 57, 77);
    --var-secon-text: rgb(73, 100, 115);
    
    --var-gray-light: rgb(224,224,224);
    --var-gray-ml: rgb(192,192,192);
    --var-gray-mid: rgb(136,136,136);
    --var-gray-dark: rgb(56,56,56);
}

html {
    height: 100%;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.1em;
    font-family: "Roboto italic", sans-serif;
    color: rgb(78, 78, 78);
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.85em;
}

h5 {
    font-size: 0.75em;
}

a {
    color: var(--var-text);
}

a:hover {
    color: var(--var-secon-text);
}