body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.form-inline{
    min-width:80%;
}

:root{
    --var-main-color: #208d56;
    --var-secon-color: #8d2d20;
}

#searchBtn{
    border-color: black;
    color: #ffff;
    
  
}

.search-category{
    border-color: black;
    color: black;
    background-color: white;
}

.search-category-drop{
    border-color: black;
}
.navbar{
    background-color: var(--var-main-color);
}

html {
    height: 100%;
}

#edition #dropdownMenuButton {
    width: 100%;
}

#addBtns button {
    width: 49%;
}

#specificSpecs button:hover {
    background-color: rgb(0, 123, 255);
    color: aliceblue;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.1em;
    font-family: "Roboto italic", sans-serif;
    color: rgb(78, 78, 78);
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.85em;
}

h5 {
    font-size: 0.75em;
}

#footer {
    background-color: grey;
}

.mainContent {
    flex-grow: 1;
}

#footer a {
    color: white;
}


#searchBar {
    padding: .5rem, 1rem;
    width: 80%;
    border-radius: 0;
    border: 1px solid black;
    height: 100%;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#searchBtn {
    width: 19%;
}

.btnTrash {
    background-image: url("../images/trash_btn.png");
    background-color: transparent;
    background-size: 100%, 100%;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.btnShare {
    background-image: url("../images/share_btn.png");
    background-color: transparent;
    background-size: 100%, 100%;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

#filters {
    width: 320px;
    background-color: #ccd1d6;
}

#results {
    max-width: 1220px;
    padding: 10px;
    border: 1px solid #ccd1d6;
}

#searchBody {
    min-height: 50em;
}

.product {
    width: 350px;
    height: 400px;
    margin: 10px 20px;
}

.productImage {
    width: 300px;
    height: 300px;
}

.productName,
.rating {
    width: 350px;
    min-height: 50px;
}

.productName {
    margin-bottom: 5px;
}

.black-control {
    filter: invert(100%);
}

.starsRating {
    border: none;
    float: left;
}

.starsRating > input {
    display: none;
}
.starsRating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f005";
}

.starsRating > .half:before {
    content: "\f089";
    position: absolute;
}

.starsRating > label {
    color: rgb(184, 180, 180);
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.starsRating > input:checked ~ label, /* show gold star when clicked */
.starsRating:not(:checked) > label:hover, /* hover current star */
.starsRating:not(:checked) > label:hover ~ label {
    color: #ffd700;
} /* hover previous stars in list */

.starsRating > input:checked + label:hover, /* hover current star when changing starsRating */
.starsRating > input:checked ~ label:hover,
.starsRating > label:hover ~ input:checked ~ label, /* lighten current selection */
.starsRating > input:checked ~ label:hover ~ label {
    color: #ffed85;
}

.addToCartBtn,
.addToWishListBtn {
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0;
}

@media screen and (max-width: 1600px) {
    #results {
        max-width: 850px;
    }
    #filters {
        width: 320px;
    }
}

@media screen and (max-width: 1200px) {
    #results {
        max-width: 440px;
    }
    #filters {
        width: 320px;
    }
}

#shoppingCartOpener {
    position: fixed;
    bottom: 25px;
    right: 0px;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0;
}

#shoppingCart {
    display: block;
    position: fixed;
    bottom: 0px;
    right: -350px;

    width: 350px;
    height: 100%;
    
    z-index: 2;
}

#shoppingCart.active {
    right: 0px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;    
}

.overlay.active {
    z-index: 1;
    opacity: 1;
}

.transitions {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#shoppingCartCloser {
    border: 0px;
}

.cartProductImage {
    width: 60px;
    height: 60px;
}

.cartQuantitySelector {
    width: 50px;
    font-size: 0.7em;
}