@import url("root.css");

.form-inline {
    min-width: 80%;
}

.search-category {
    border-color: black;
    color: black;
    background-color: white;
}

.search-category-drop {
    border-color: black;
}

html {
    height: 100%;
}

#edition #dropdownMenuButton {
    width: 100%;
}

#edition {
    border-radius: 0.25rem;
    background-color: var(--var-gray-mid);
    color: var(--var-text);
}

#dropdownMenuButton {
    color: var(--var-gray-light);
}

#dropdownMenuButton:hover {
    color: var(--var-text);
}

#addBtns button {
    width: 49%;
}

#specificSpecs button:hover {
    background-color: rgb(0, 123, 255);
    color: var(--var-gray-light);
}

.all_address {
    min-width: 80%;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.1em;
    font-family: "Roboto italic", sans-serif;
    color: rgb(78, 78, 78);
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.85em;
}

h5 {
    font-size: 0.75em;
}

#footer {
    background-color: var(--var-fourth-color);
}

.mainContent {
    flex-grow: 1;
}

#footer * {
    color: var(--var-gray-light);
}

#footer h4 {
    color: var(--var-gray-ml);
}

#filters {
    width: 320px;
    background-color: var(--var-gray-light);
    border-radius: 0.25rem;
}

#results {
    max-width: 1070px;
    padding: 10px;
    border: 1px solid var(--var-gray-light);
    border-radius: 0.25rem;
}

#searchBody {
    min-height: 50em;
}

.product {
    width: 300px;
    height: 350px;
    margin: 10px 20px;
}

.productMid {
    width: 300px;
    height: 250px;
}

.productImage {
    width: 250px;
    height: 250px;
}

.productName,
.productPrice {
    width: 300px;
}

.productName {
    font-weight: 600;
}

.productPrice,
#priceLbl {
    color: var(--var-secon-text);
}

.productBot {
    width: 250px;
    min-height: 40px;
    margin-right: 50px;
}

.productName {
    margin-bottom: 5px;
}

.black-control {
    filter: invert(100%);
}

.starsRating {
    border: none;
    float: left;
}

.starsRating > input {
    display: none;
}
.starsRating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f005";
}

.starsRating > .half:before {
    content: "\f089";
    position: absolute;
}

.starsRating > label {
    color: var(--var-gray-ml);
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

/*.starsRating > input:checked ~ label, /* show gold star when clicked 
.starsRating:not(:checked) > label:hover, /* hover current star 
.starsRating:not(:checked) > label:hover ~ label {
    color: var(--var-main-color);
} /* hover previous stars in list 

.starsRating > input:checked + label:hover, /* hover current star when changing starsRating 
.starsRating > input:checked ~ label:hover,
.starsRating > label:hover ~ input:checked ~ label, /* lighten current selection 
.starsRating > input:checked ~ label:hover ~ label {
    color: var(--var-secon-color);
}*/

.addToCartBtn,
.addToWishListBtn {
    border-radius: 0.25rem;
    margin: 0px 0px 1px 1px;
    width: 50px;
    height: 50px;
    padding: 0;
}

.addToCartBtn,
.addToWishListBtn {
    border: 1px solid var(--var-main-color);
    color: var(--var-main-color);
    background-color: white;
}

.addToCartBtn:hover,
.addToWishListBtn:hover {
    color: var(--var-text);
}

.active.addToCartBtn:hover,
.active.addToWishListBtn:hover {
    color: var(--var-text);
}

.active.addToCartBtn,
.active.addToWishListBtn {
    border: 1px solid var(--var-main-color);
    color: white;
    background-color: var(--var-main-color);
}

#qaBox,
#reviewsBox {
    padding: 0.8em;
}

#qaBox > div,
#reviewsBox > div {
    padding: 0.5em;
}

@media screen and (max-width: 1450px) {
    #results {
        max-width: 730px;
    }
    #filters {
        width: 320px;
    }
}

@media screen and (max-width: 1080px) {
    #results {
        max-width: 730px;
    }
    #filters {
        width: 200px;
    }
}

@media screen and (max-width: 950px) {
    #results {
        max-width: 380px;
    }
    #filters {
        width: 300px;
    }

    #qaBox,
    #reviewsBox {
        padding: 0.5em;
    }

    #qaBox > div,
    #reviewsBox > div {
        padding: 0em;
    }

    #qaBox .card,
    #reviewsBox .card {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        border-top: 0;
    }
}

#shoppingCartOpener {
    position: fixed;
    bottom: 25px;
    right: 0px;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0;
    border-radius: 0.25rem;
    background-color: var(--var-main-color);
}

#shoppingCart {
    background-color: var(--var-main-color);
    color: var(--var-text);

    display: block;
    position: fixed;
    bottom: 0px;
    right: -400px;

    width: 400px;
    height: 100%;

    z-index: 2;
}

#shoppingCartHeader * {
    color: var(--var-gray-light);
    background-color: var(--var-main-color);
}

#shoppingCartHeader h2 {
    font-weight: 600;
}

#shoppingCartCartTotal {
    color: var(--var-gray-light);
}

#shoppingCartCart article {
    background-color: var(--var-gray-light);
    color: var(--var-text);
}

#shoppingCart.active {
    right: 0px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
}

.overlay.active {
    z-index: 1;
    opacity: 1;
}

.transitions {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#shoppingCartCloser {
    border: 0px;
}

.cartProductImage {
    width: 60px;
    height: 60px;
}

.cartQuantitySelector {
    width: 45px;
    font-size: 0.7em;
}

.breadcrumb {
    background-color: var(--var-gray-light);
}

#searchCategorySelector {
    z-index: 0;
}

#specsCol {
    width: 95%;
}

#specsCol td {
    text-align: end;
}

#infoSection * {
    color: var(--var-text);
}

#infoSection button:hover {
    color: var(--var-secon-text);
}

.table-hover tbody tr:hover {
    background-color: var(--var-thir-color);
}

#specsCol .table-hover tbody tr:hover > * {
    color: var(--var-gray-dark);
}

.card-body .card {
    border: 1px solid var(--var-thir-color);
}

#productCtrl {
    min-width: 300px;
}

#imagesCarousel {
    min-width: 60%;
}

.cartQuantitySelectorControllerBtn {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.7em;
}

.cartQuantitySelectorController {
    margin-left: 7px;
}