@import url("root.css");

.search-category {
    border-color: var(--var-gray-dark);
    color: var(--var-gray-dark);
    background-color: white;
}

.search-category-drop {
    border-color: var(--var-gray-dark);
    
}
.form-inline {
    max-width: 85%;
    min-width: 80%;
}


.navbar {
    background-color: var(--var-secon-color);
    padding: 5px;
}

#searchBar {
    padding: 0.5rem, 1rem;
    border-radius: 0;
    border: 1px solid var(--var-main-color);
    border-right-width: 0;
    border-left-width: 0;
    flex-grow: 1;
}

#searchCategorySelector{
    position: relative;
}

#searchCategorySelector button,
#searchCategorySelector div {
    border: 1px solid var(--var-main-color);
}

#searchCategorySelector button {
    border-right-width: 0;
}

#searchCategorySelector button:hover {
    background-color: var(--var-main-color);
    color: white;
}

#searchCategorySelector button:focus,
#searchBar:focus {
    box-shadow: none;
    
}

#searchBtn {
    border: 1px solid var(--var-main-color);
    border-left-width: 0;
    border-radius: 0.25rem;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    height: 100%;
    flex-grow: 0;
    width: 50px;
}

#searchBtn:hover {
    background-color: var(--var-main-color);
    color:white;
}

#searchNav * * {
    background-color: white;
    color: var(--var-gray-dark);
}

#accountLinks * {
    color: white;
}

#accountLinks *:hover {
    color: white;
}

#navbarLogo a {
    font-size: 1.4em;
    color: white;
    font-weight: 300;
}

#accountLinks *:hover {
    background-color: var(--var-main-color);
    border-radius: 0.25rem;
    color: white;
}

#searchNavContainer {
    width: 50%;
}

@media screen and (max-width: 1170px) {

    #searchNav {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    #searchNavContainer {
        width: 100%;
    }

    #searchNav form {
        display: flex;
        flex-wrap: nowrap;
    }

    #navbarSupportedContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    #navbarSupportedContent :nth-child(2) {
        order: 3;
    }

    #navbarSupportedContent :nth-child(1) {
        order: 1;
    }

    #navbarSupportedContent :nth-child(3) {
        order: 2;
    }
}
