#wishListsTabs{
    margin-top: 2em;
}

#list-example{
    width:  auto;
    height: auto;
}
.wishListContent{
    width: 75%;
    margin:auto;
}

#listItems{
    max-width: 80%;
    overflow-y: auto;
    min-height: 30em;
    max-height:50rem;
}
.col-sm{
    padding-right: 0;
    padding-left: 0;
    margin-left: 0.5em;
}
#mainContainer{
    width:100%;
}

.product_card{
    min-height: auto;
    padding-left: 0.4em;
}

h4.product_name{
    margin:0;
}

.product_img{
    width: 40%; 
    height: 75%;
    background-size: cover;
    margin-left:0.5em;
   
}

.review_score{
    width:auto;
    height: 1.5em;
    margin-left: 0em;
    margin-top: 0em;
}

.product_name{
    font-size:1.5em;
    margin-left:0.5em;
    margin-top: 0.3em;
   
}

.page-link{
    font-size:1.5vmax;
}



.addToCartBtn{
    min-height: 5%;
    max-height: 8%;
    min-width:15%;
}


.addToCartBtn:hover{
    min-height: 5%;
    max-height: 8%;
    min-width:15%;
    color:white;
    background-color: var(--var-main-color);
}

.removeWishItem{
    min-height: 15%;
    max-height: 8%;

}

.removeWishItem:hover{
    min-height: 15%;
    max-height: 8%;
    color:white;
    background-color: var(--var-main-color);
}


.shop_button{
    border-radius: 2em;
    display:block;
    border-radius: 50%;
    outline:none !important;
}

.rating {
    width: auto;
    height: auto;
    display:inline-block;
    margin-bottom: 0;
}



.starsRating {
    border: none;
    float: left;
}

.starsRating > input {
    display: none;
}

label{
    margin-bottom: 0;   
}
.starsRating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f005";
}

.starsRating > .half:before {
    content: "\f089";
    position: absolute;
}


.starsRating > label {
    color: rgb(184, 180, 180);
    float: right;
}

.starsRating .marked{
    color: #ffed85;
}

div.col-sm p{
   width:90%;
   margin-left: 0em; 
   margin-bottom: 0;
}

@media screen and (max-width: 750px) {
    div.col-sm p{
        display:none;
    }

    ul.pagination{
        justify-content: center;
    }
    
}

@media screen and (max-width: 1260px){
    #list-example{
        display:none;
    }

    #wishListsTabs{
        justify-content: center;
        width:100%;
       
    }

    #listItems{
        margin:auto;
        width: auto;
    }
}


@media screen and (max-width: 1442px){
    .product_img{
        display:none;
    }
}

@media screen and (max-width: 400px){
   .wishListContent{
       width:100%;
    }
}