#wishListsTabs{
    margin-top: 2em;
    margin-left: 4em;
}

#list-example{
    width:  auto;
    height: auto;
}

#listItems{
    width: 80%;
    overflow: auto;
    height: 30em;
}

#mainContainer{
    margin-left:4em;
    width:100%;
}

.product_card{
    min-height: 23em;
}

.product_img{
    width: 40%; 
    height: 75%;
    background-size: cover;
    margin-left:0.5em;
   
}

.review_score{
    width:auto;
    height: 1.5em;
    margin-left: 0em;
    margin-top: 0em;
}

.product_name{
    font-size:1.5em;
    margin-left:0.5em;
    margin-top: 0.3em;
   
}



.addToCartBtn{
    min-height: 5%;
    max-height: 8%;
    width:15%;
}


.addToCartBtn:hover{
    min-height: 5%;
    max-height: 8%;
    width:15%;
    color:white;
    background-color: var(--var-main-color);
}

.removeWishItem{
    min-height: 5%;
    max-height: 8%;
    width:15%;

}

.removeWishItem:hover{
    min-height: 5%;
    max-height: 8%;
    width:15%;
    color:white;
    background-color: var(--var-main-color);
}


.shop_button{
    border-radius: 2em;
    display:block;
    border-radius: 50%;
    outline:none !important;
}

.rating {
    width: 350px;
    min-height: 50px;
}

.starsRating {
    border: none;
    float: left;
}

.starsRating > input {
    display: none;
}
.starsRating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f005";
}

.starsRating > .half:before {
    content: "\f089";
    position: absolute;
}


.starsRating > label {
    color: rgb(184, 180, 180);
    float: right;
}

.starsRating .marked{
    color: #ffed85;
}

@media screen and (max-width: 1080px) {
}